Repository osism/k8s-capi-images: changes, and which Cirrus tasks are due for each by the changed paths.
All: build_131, build_132, build_133, build_133_gardener, build_134

build_131:
  timeout_in: 120m
  install_script: 'while fuser /var/lib/dpkg/lock >/dev/null 2>&1; do sleep 5; done;
  
    while fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do sleep 5; done;
  
    apt-get update
  
    while fuser /var/lib/dpkg/lock >/dev/null 2>&1; do sleep 5; done;
  
  ...

build_132:
  timeout_in: 120m
  install_script: 'while fuser /var/lib/dpkg/lock >/dev/null 2>&1; do sleep 5; done;
  
    while fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do sleep 5; done;
  
    apt-get update
  
    while fuser /var/lib/dpkg/lock >/dev/null 2>&1; do sleep 5; done;
  
  ...

build_133:
  timeout_in: 120m
  install_script: 'while fuser /var/lib/dpkg/lock >/dev/null 2>&1; do sleep 5; done;
  
    while fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do sleep 5; done;
  
    apt-get update
  
    while fuser /var/lib/dpkg/lock >/dev/null 2>&1; do sleep 5; done;
  
  ...

build_133_gardener:
  timeout_in: 120m
  install_script: 'while fuser /var/lib/dpkg/lock >/dev/null 2>&1; do sleep 5; done;
  
    while fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do sleep 5; done;
  
    apt-get update
  
    while fuser /var/lib/dpkg/lock >/dev/null 2>&1; do sleep 5; done;
  
  ...

build_134:
  timeout_in: 120m
  install_script: 'while fuser /var/lib/dpkg/lock >/dev/null 2>&1; do sleep 5; done;
  
    while fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do sleep 5; done;
  
    apt-get update
  
    while fuser /var/lib/dpkg/lock >/dev/null 2>&1; do sleep 5; done;
  
  ...

README: use new URLs (#298)
  README.md
Due: none

chore: sync with upstream
  extra_vars_131.json
  extra_vars_132.json
  extra_vars_133.json
  extra_vars_133_gardener.json
  extra_vars_134.json
Due: build_131, build_132, build_133, build_133_gardener, build_134

Archive 1.31
  .cirrus.yml
  README.md
  extra_vars_131.json
Due: build_131, build_132, build_133, build_133_gardener, build_134

Archive 1.31 (#301)
  .cirrus.yml
  README.md
  extra_vars_131.json
Due: build_131, build_132, build_133, build_133_gardener, build_134

README: simplify tables and add version discovery documentation
  .flake8
  README.md
  src/update-extra-vars.py
Due: none

README: simplify tables and add version discovery documentation (#302)
  .flake8
  README.md
  src/update-extra-vars.py
Due: none

chore: sync with upstream
  README.md
  extra_vars_133.json
  extra_vars_133_gardener.json
  extra_vars_134.json
Due: build_133, build_133_gardener, build_134

chore: sync with upstream
  README.md
  extra_vars_132.json
Due: build_132

Add Kubernetes v1.35 support and fix last-X file version reference
  .cirrus.yml
  README.md
  extra_vars_135.json
Due: build_131, build_132, build_133, build_133_gardener, build_134

Add Kubernetes v1.35 support and fix last-X file version reference (#305)
  .cirrus.yml
  README.md
  extra_vars_135.json
Due: build_131, build_132, build_133, build_133_gardener, build_134

Use virt-sparsify again to reduce image size (#257)
  .cirrus.yml
Due: build_131, build_132, build_133, build_133_gardener, build_134

Add script to generate download URLs
  README.md
  scripts/generate-k8s-image-urls.sh
Due: none

chore: sync with upstream
  README.md
  extra_vars_132.json
  extra_vars_133.json
  extra_vars_133_gardener.json
  extra_vars_134.json
  extra_vars_135.json
Due: build_132, build_133, build_133_gardener, build_134

cirrus: fix sparsify_script task
  .cirrus.yml
Due: build_131, build_132, build_133, build_133_gardener, build_134

Add vars for k8s 1.34 and 1.35. Updated 1.33.
  .cirrus.yml
  build-local.sh
  extra_vars_134_gardener.json
  extra_vars_135_gardener.json
Due: build_131, build_132, build_133, build_133_gardener, build_134

Replace Minio client with rclone for S3 uploads
  .cirrus.yml
  playbooks/post.yml
Due: build_131, build_132, build_133, build_133_gardener, build_134

Replace Minio client with rclone for S3 uploads (#311)
  .cirrus.yml
  playbooks/post.yml
Due: build_131, build_132, build_133, build_133_gardener, build_134

Add --verify option for checksum verification and fix checksum generation order
  .cirrus.yml
  README.md
  scripts/generate-k8s-image-urls.sh
Due: build_131, build_132, build_133, build_133_gardener, build_134

Add --verify option for checksum verification and fix checksum generation order (#312)
  .cirrus.yml
  README.md
  scripts/generate-k8s-image-urls.sh
Due: build_131, build_132, build_133, build_133_gardener, build_134

Fix public access for rclone S3 uploads
  .cirrus.yml
  playbooks/post.yml
Due: build_131, build_132, build_133, build_133_gardener, build_134

chore: sync with upstream
  README.md
  extra_vars_132.json
  extra_vars_133.json
  extra_vars_133_gardener.json
  extra_vars_134.json
  extra_vars_134_gardener.json
  extra_vars_135.json
  extra_vars_135_gardener.json
Due: build_132, build_133, build_133_gardener, build_134

Fix rclone S3 configuration for Ceph provider
  .cirrus.yml
  playbooks/post.yml
Due: build_131, build_132, build_133, build_133_gardener, build_134

Fix rclone S3 configuration for Ceph provider (#315)
  .cirrus.yml
  playbooks/post.yml
Due: build_131, build_132, build_133, build_133_gardener, build_134

Archive Kubernetes 1.32 (EOL)
  .cirrus.yml
  README.md
  extra_vars_132.json
Due: build_131, build_132, build_133, build_133_gardener, build_134

Archive Kubernetes 1.32 (EOL) (#316)
  .cirrus.yml
  README.md
  extra_vars_132.json
Due: build_131, build_132, build_133, build_133_gardener, build_134

chore: sync with upstream
  README.md
  extra_vars_133.json
  extra_vars_133_gardener.json
  extra_vars_134.json
  extra_vars_134_gardener.json
  extra_vars_135.json
  extra_vars_135_gardener.json
Due: build_133, build_133_gardener, build_134

Add Kubernetes v1.36 support
  .cirrus.yml
  README.md
  extra_vars_136.json
  extra_vars_136_gardener.json
Due: build_131, build_132, build_133, build_133_gardener, build_134

Add Kubernetes v1.36 support (#321)
  .cirrus.yml
  README.md
  extra_vars_136.json
  extra_vars_136_gardener.json
Due: build_131, build_132, build_133, build_133_gardener, build_134

chore: sync with upstream
  README.md
  extra_vars_133.json
  extra_vars_133_gardener.json
  extra_vars_134.json
  extra_vars_134_gardener.json
  extra_vars_135.json
  extra_vars_135_gardener.json
  extra_vars_136.json
  extra_vars_136_gardener.json
Due: build_133, build_133_gardener, build_134

Use Ubuntu 24.04.4 ISO image
  extra_vars_133.json
  extra_vars_133_gardener.json
  extra_vars_134.json
  extra_vars_134_gardener.json
  extra_vars_135.json
  extra_vars_135_gardener.json
  extra_vars_136.json
  extra_vars_136_gardener.json
Due: build_133, build_133_gardener, build_134

Use Ubuntu 24.04.4 ISO image (#327)
  extra_vars_133.json
  extra_vars_133_gardener.json
  extra_vars_134.json
  extra_vars_134_gardener.json
  extra_vars_135.json
  extra_vars_135_gardener.json
  extra_vars_136.json
  extra_vars_136_gardener.json
Due: build_133, build_133_gardener, build_134

Remove Cirrus CI configuration
  .cirrus.yml
Due: build_131, build_132, build_133, build_133_gardener, build_134

Remove Cirrus CI configuration (#329)
  .cirrus.yml
Due: build_131, build_132, build_133, build_133_gardener, build_134

Fix project-board automation for fork PRs
  .github/workflows/add-to-project.yml
Due: none

Pin diskimage-builder in requirements.txt
  requirements.txt
Due: none

Path conditions:
  build_131: any of: extra_vars_131.json, .cirrus.yml
  build_132: any of: extra_vars_132.json, .cirrus.yml
  build_133: any of: extra_vars_133.json, .cirrus.yml
  build_133_gardener: any of: extra_vars_133_gardener.json, .cirrus.yml
  build_134: any of: extra_vars_134.json, .cirrus.yml
