Repository osism/k8s-capi-images: changes, and which Cirrus tasks are due for each by the changed paths.
All: build_129, build_130, build_131, build_132

.cirrus.yml:

---
# NOTE: That didn't work, thus use of instance with nested virtualization enabled.
#
# container:
#   image: ubuntu:20.04
#   kvm: true

compute_engine_instance:
  image_project: cirrus-images
  image: family/docker-kvm
  platform: linux
  cpu: 4
  memory: 16G
  disk: 100
  nested_virtualization: true

# environment variables

env:
  DEBIAN_FRONTEND: noninteractive
  HOME: "$CIRRUS_WORKING_DIR"
  PACKER_TMP_DIR: "$CIRRUS_WORKING_DIR/.packer.d"
  MINIO_ACCESS_KEY: "ENCRYPTED[f1e5f3b5e72297422e2ec817e8833a2e8d69fe75e3db78a7e4ba20581578752d6f6f61d1ed1d1254b6b54b7ae8bc6af9]"
  MINIO_SECRET_KEY: "ENCRYPTED[adba7892ef6bb89524abc57e38b401e77a268d129c44cd792a9dd064b8dcb0cf050dd4e906059d0f94ae4ac92d8e869b]"

build_task_template: &BUILD_TASK_TEMPLATE
  timeout_in: 120m
  install_script: |
    while fuser /var/lib/dpkg/lock >/dev/null 2>&1; do sleep 5; done;
    while fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do sleep 5; done;
    apt-get update
    while fuser /var/lib/dpkg/lock >/dev/null 2>&1; do sleep 5; done;
    while fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do sleep 5; done;
    apt-get install -y git make python3-pip curl jq unzip

  prepare_script: |
    git clone https://github.com/kubernetes-sigs/image-builder
    cd image-builder/images/capi
    export PATH=$PWD/.bin:$HOME/.local/bin:$PATH
    make deps-qemu

  build_script: |
    cd image-builder/images/capi
    export PATH=$PWD/.bin:$HOME/.local/bin:$PATH
    make build-qemu-ubuntu-2204

  prepare_push_script: |
    pushd image-builder/images/capi/output/ubuntu-2204-kube-v$IMAGE_IDENTIFIER
    find . -type f -execdir bash -c 'x={}; cp $x ${x%.*}.qcow2; mv $x $x.qcow2' \;
    find . -name '*.qcow2' -execdir bash -c 'x={}; sha256sum $(basename $x) > $x.CHECKSUM' \;
    find . -name "*$IMAGE_IDENTIFIER.*.qcow2" -execdir bash -c 'x={}; echo $(date +%Y-%m-%d) ubuntu-2204-kube-v$IMAGE_IDENTIFIER/$(basename $x) > last-$IMAGE_IDENTIFIER' \;
    ls -lah
    popd
    mv image-builder/images/capi/output/ubuntu-2204-kube-v$IMAGE_IDENTIFIER/last-$IMAGE_IDENTIFIER .
    cat last-$IMAGE_IDENTIFIER

  push_script: |
    if [[ "$CIRRUS_BRANCH" == "main" ]]; then
      wget https://dl.min.io/client/mc/release/linux-amd64/mc
      chmod +x mc
      ./mc alias set minio https://swift.services.a.regiocloud.tech $MINIO_ACCESS_KEY $MINIO_SECRET_KEY
      ./mc cp last-$IMAGE_IDENTIFIER minio/openstack-k8s-capi-images
      ./mc cp --recursive image-builder/images/capi/output/* minio/openstack-k8s-capi-images
      ./mc policy set download minio/openstack-k8s-capi-images
    fi

build_129_task:
  <<: *BUILD_TASK_TEMPLATE
  skip: "!changesInclude('extra_vars_129.json', '.cirrus.yml')"
  env:
    IMAGE_IDENTIFIER: "1.29"
    PACKER_VAR_FILES: ../../../extra_vars_129.json

build_130_task:
  <<: *BUILD_TASK_TEMPLATE
  skip: "!changesInclude('extra_vars_130.json', '.cirrus.yml')"
  env:
    IMAGE_IDENTIFIER: "1.30"
    PACKER_VAR_FILES: ../../../extra_vars_130.json

build_131_task:
  <<: *BUILD_TASK_TEMPLATE
  skip: "!changesInclude('extra_vars_131.json', '.cirrus.yml')"
  env:
    IMAGE_IDENTIFIER: "1.31"
    PACKER_VAR_FILES: ../../../extra_vars_131.json

build_132_task:
  <<: *BUILD_TASK_TEMPLATE
  skip: "!changesInclude('extra_vars_132.json', '.cirrus.yml')"
  env:
    IMAGE_IDENTIFIER: "1.32"
    PACKER_VAR_FILES: ../../../extra_vars_132.json

README: add EOL note (#277)
  README.md
Due: none

Add v1.33.0
  .cirrus.yml
  .zuul.yaml
  README.md
  extra_vars_133.json
Due: build_129, build_130, build_131, build_132

Add v1.33.0 (#278)
  .cirrus.yml
  .zuul.yaml
  README.md
  extra_vars_133.json
Due: build_129, build_130, build_131, build_132

chore: sync with upstream
  extra_vars_130.json
  extra_vars_131.json
  extra_vars_132.json
Due: build_130, build_131, build_132

zuul: remove gate jobs
  .zuul.yaml
Due: none

zuul: remove gate jobs (#280)
  .zuul.yaml
Due: none

chore: sync with upstream
  extra_vars_130.json
  extra_vars_131.json
  extra_vars_132.json
  extra_vars_133.json
Due: build_130, build_131, build_132

README: add missing versions
  README.md
Due: none

README: add missing versions (#282)
  README.md
Due: none

chore: sync with upstream
  extra_vars_131.json
  extra_vars_132.json
  extra_vars_133.json
Due: build_131, build_132

Update node images to k8s-1.31.11, 1.32.7, 1.33.3.
  extra_vars_131.json
  extra_vars_132.json
  extra_vars_133.json
Due: build_131, build_132

README: add current Kubernetes versions and update image links
  README.md
Due: none

README: add current Kubernetes versions and update image links (#286)
  README.md
Due: none

Use Ubuntu 24.04 for Kubernetes 1.33
  extra_vars_133.json
Due: none

Use Ubuntu 24.04 for Kubernetes >= 1.33.4 (#269)
  extra_vars_133.json
Due: none

README: update Kubernetes versions and reorganize Ubuntu sections
  README.md
Due: none

README: update Kubernetes versions and reorganize Ubuntu sections (#288)
  README.md
Due: none

Archive Kubernetes 1.30
  README.md
Due: none

Archive Kubernetes 1.30 (#289)
  README.md
Due: none

Remove 1.30 build
  .cirrus.yml
  extra_vars_130.json
Due: build_129, build_130, build_131, build_132

Remove 1.30 build (#291)
  .cirrus.yml
  extra_vars_130.json
Due: build_129, build_130, build_131, build_132

Add 1.34.0
  .cirrus.yml
  README.md
  extra_vars_134.json
Due: build_129, build_130, build_131, build_132

Add 1.34.0 (#290)
  .cirrus.yml
  README.md
  extra_vars_134.json
Due: build_129, build_130, build_131, build_132

Add DISTRO_VERSION in Cirrus CI configuration for correct naming of images
  .cirrus.yml
Due: build_129, build_130, build_131, build_132

Add DISTRO_VERSION in Cirrus CI configuration for correct naming of images (#292)
  .cirrus.yml
Due: build_129, build_130, build_131, build_132

chore: sync with upstream
  extra_vars_132.json
Due: build_132

chore: sync with upstream
  extra_vars_131.json
  extra_vars_133.json
  extra_vars_134.json
Due: build_131

Add extra vars for a custom gardener image and add it to cirrus
  .cirrus.yml
  extra_vars_133_gardener.json
Due: build_129, build_130, build_131, build_132

Add extra vars for a custom gardener image and add it to cirrus
  extra_vars_133_gardener.json
Due: none

Set the correct IMGE_IDENTIFIER for the gardener image
  .cirrus.yml
Due: build_129, build_130, build_131, build_132

Optimize the prepare_push_script to take the first .qcow2 file in the directory
  .cirrus.yml
Due: build_129, build_130, build_131, build_132

Add extra vars for a custom gardener image and add it to cirrus (#294)
  .cirrus.yml
  extra_vars_133_gardener.json
Due: build_129, build_130, build_131, build_132

chore: sync with upstream
  extra_vars_133_gardener.json
Due: none

README: add 1.34 to the Kubernetes Versions table
  README.md
Due: none

README: add 1.34 to the Kubernetes Versions table (#296)
  README.md
Due: none

cirrus: upload images to hetzner
  .cirrus.yml
  README.md
Due: build_129, build_130, build_131, build_132

cirrus: upload images to hetzner (#297)
  .cirrus.yml
  README.md
Due: build_129, build_130, build_131, build_132

README: use new URLs
  README.md
Due: none
